* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color-green: #00bfa6;
  --color-purple: #2f2e41;
  --color-white: #ffffff;
  --color-grey: #c2c2c2;
}

body {
  margin: 0 auto;
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--color-purple);
  min-height: 100vh;
}

.page {
  width: 109.2rem;
  margin: 0 auto;
  padding-top: 7.1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10.1rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 6.4rem;
}

ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.6rem;
}

ul li a:hover {
  color: var(--color-green);
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--color-white);
  line-height: 4rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text,
h1 span {
  color: var(--color-green);
}

p {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2.8rem;
  font-weight: normal;
  color: var(--color-grey);
  text-align: center;
  margin-top: 5.9rem;
  width: 60.4rem;
  height: 16.8rem;
}

footer {
  font-size: 1.4em;
  line-height: 2.8rem;
  color: var(--color-white);
  text-align: center;
}

footer a {
  color: var(--color-white);
  text-decoration: none;
}

.line {
  width: 56.8rem;
  border: 1px solid var(--color-green);
  margin: 15.7rem auto 2.7rem;
}

.padlock {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}